.App {
    text-align: center;
    background-color: #282c34;
    color: white;
    width: 100vw;
    height: 100vh;
}

.App code {
    background: #FFF3;
    padding: 4px 8px;
    border-radius: 4px;
}

.App p {
    margin: 0.4rem;
}